@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Redressed', cursive;
}



nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid black;
}

nav h1 {
    color: black;
    font-size: 50px;
}

nav .onglets {
    margin-top: 3px;
    margin-left: 300px;
}

nav .onglets a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin-right: 10px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

nav img {
    height: 200px;
}

nav h2 {
    display: flex;
    position: relative;
    top: 80px;
    right: 40px;
    font-size: 25px;
}

@media screen and (max-width: 767px) {
    nav .onglets {
        margin-left: 20px;
        margin-top: 70px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
    

    }
    nav h2{
        margin-left: 20px;
    }
    nav a{
        margin-bottom: 20px;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    nav .onglets {
        margin-left: 20px;
        margin-top: 70px;
        margin-right: 70px;
        display: flex;
        flex-direction: column;
    

    }
    nav h2{
        margin-left: 20px;
    }
    nav a{
        margin-bottom: 20px;
    }
}

.service {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 5px solid black;
    height: 500px;
    overflow: auto;
    font-size: larger;

}
.imagesCarroussel {
    display: flex;
    

}

.service img {
    height: 418px;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.image1{
    background-color: #d4bcc9;
}

.image2{
    background-color: #67736f;

}

.text {
    display: flex;
    justify-content: space-between;
    font-size: large;    

}

i{
    padding-top: 20px;
    font-size: 2.5rem;
    padding-right: 20px;
    
}

.realisation img{
    height: 418px;
    width: 50%;
}

.realisation{
    display: flex;
}



.image3{
    display: flex;


}
.text3{
    display: flex;
    flex-direction: column;
    width: 38.8%;
}



.realisation .text{
    background-color: #9aa0ac;
}

@media screen and (max-width: 767px) {
    .service{
        height: auto;
        padding: 0%;
    }
    .texteCarrousel{
        display: none;
    }
    .image2{
        margin-top: 2px;
    }
    .imagesCarroussel{
        flex-direction: column;
    }
    .text2 h1{
        display: none;
    }
    .text3{
        width: 100%;
    }
    .realisation img{
        width: 100%;
    }
    .image3 :nth-child(1){
        display: none;
        
    }

}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .texteCarrousel{
        display: none;
    }
    .service{
        height: auto;
        padding: 0%;
    }
    .image1{
        width: 50%;
    }
    .image2{
        width: 50%;
    }
    .text2 h1{
        display: none;
    }
    .realisation img{
        width: 100%;
    }
    .text{
        width: 100%;
    }
    .text3{
        width: 100%;
    }

}


footer {
    background-color: black;
    color: white;
    
    
}

footer p{
    margin-bottom: 0px;

}

footer h1{
    margin-top: 0px;
}